html
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width")
	meta(name="color-scheme" content="dark light")
	meta(name="description" content=description)

	block script
		//- extra scripts

	block styles
		//- extra styles

	link(rel="stylesheet" href="/src/styles/global.scss")

	if (styles)
		link(rel="stylesheet" href=styles)

	block title
		title=title

	
body
	.layout
		include header.pug

		main
			block heading
				h1=title
			block content
				p=content

		include footer.pug
